@charset "UTF-8";
:root {
    --corfundo: rgb(31, 0, 0);
    --vermelhores:#400101; 
    --vermelhoes2: #730202;
    --bege: #F2958D;
} 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
main{
    max-width: 85%;
    margin: auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.423);
    text-align: center;
}
div#perg{
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.3em;
    margin-bottom: 10px;
}
article div{
    background-color: gray;
    margin: auto;
    margin-bottom: 5px;
    padding: 9px;
    border-radius: 20px;
    text-align: start;
    max-width: 300px;
   
}
button{
    background-color: gray;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}