@charset "UTF-8";

:root{
    --cor1: #820a32;
    --cor2: #ee6983;
    --cor3: #ffc4c4;
    --cor4: #fcedd3;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../imagens/imagemdefundo.png)center center;
    background-size: cover;
    color: white;
}
h1{
    font-size: 3em;
    margin-bottom: 10px;
}
h3{
    font-size: 2em;
    color: var(--cor3);
    line-height: 1em;
}

p{
    margin: 15px;
}
button{
    background-color: var(--cor3);
    border: 1px solid var(--cor1);
    padding: 10px;
    border-radius: 8px;
    
}
button:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    border: 1px solid var(--cor2);

}
strong{
    color: var(--cor2);
}

/* Style dos componentes criados pelo js*/
.erro{
    background-color: var(--cor4);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    padding: 10px;
    color: black;
}

.cont02{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.cont{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    background: url(../imagens/icon-erro.png) center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: auto;
}
.titu{
    color: black;
    font-size: 1.5em;
}
.text{
    font-size: 0.9em;
}
.but{
    background-color: var(--cor3);
    border: 1px solid var(--cor1);
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    margin: auto;
}
.but:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    border: 1px solid var(--cor2);
  
}