@charset "UTF-8";

:root{
    --cor1: #820a32;
    --cor2: #ee6983;
    --cor3: #ffc4c4;
    --cor4: #fcedd3;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../imagens/imagemdefundo.png)center center;
    background-size: cover;
    color: white;
}
h1{
    font-size: 3em;
    margin-bottom: 20px;
    width: 300px;
    margin: auto;
}
h3{
    font-size: 2em;
    color: var(--cor3);
    line-height: 1em;
}

p{
    margin: 15px;
}
button{
    background-color: var(--cor3);
    border: 1px solid var(--cor1);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1em;
}
button:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    border: 1px solid var(--cor2);

}
strong{
    color: var(--cor2);
}
input {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    color: white;
}
p{
    width: 300px;
    margin: auto;
    margin-top: 20px;
}
#login{

    display: none;
}
#login h2{
   font-size: 2.5em;
   width: 300px;
   margin-top: 20px; 
}
#login h4 {
    margin: 10px;
    font-size: 1.5em;
}
.click {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.pup{
    position: fixed;
    max-width: 300px;
    background-color: var(--cor4);
    border-radius: 20px;
    padding: 20px;
    color: black;
}
.text{
    padding: 20px;
}
.text h2{
    font-size: 2em;
}
.text h4{
    margin-bottom: -10px;
}
.text p{
    width: 230px;
}
#msgerro{
    font-size: 1em;
    width: 250px;
}
